
textarea{
    resize: none;
}
.bold_italic {
    font-weight : bold;
    font-style : italic
}
myItalic {
    font-weight : bold;
    font-style : italic;
    display : flex;
}
.Arial {
    font-family : Arial, Helvetica, sans-serif;
}
.Times_New_Roman {
    font-family : 'Times New Roman', Times, serif;
}
.Lucida_Console{
    font-family: 'Courier New', Courier, monospace;
}
.color_red{
    color: red;
}
.color_green{
    color:green;
}
.color_black{
    color: black;
}
.color_blue{
    color: blue;
}
.align_center{
	text-align : center;
}
.align_left{
	text-align : left;
}
.align_right{
	text-align : right;
}
.bold {
	font-weight : bold;
}
.italic {
	font-style : italic;
}


.size_5 {
    font-size : 5px;
}
.size_10 {
    font-size : 10px;
}
.size_20 {
    font-size : 20px;
}
.size_30 {
    font-size : 30px;
}
#author-result{
	white-space : pre-wrap;
}
